

.users-list{
    width: 100%
}

.users-list-title{
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    margin-bottom: 2px;
    margin-left: 5px;

    color: #3419D8;
}

.users-list-items{
    display: flex;
    flex-direction: column;
}