

.component-wrapper-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.component-wrapper-body{
    display: flex;
    justify-content: center;
}