

.badges-selector{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.badge{
    padding: 5px 8px;
    border-radius: 12px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    color: #000000;
    margin-right: 10px;
    margin-bottom: 8px;
}

.badge:hover{
    cursor: pointer;
}

.badge-selected{
    background-color: #3419D8;
    color: white;

}

.badge-unselected{
    background-color: #D9D9D9;
}